# コミットごとに Unit Test 実行
name: Build & Test

on: push

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: temurin
          java-version: 17
      - uses: ./.github/actions/gradle-cache
      - name: Build
        run: |
          ./gradlew :library:testClasses
      - name: Test
        run: |
          ./gradlew :library:test
      - uses: EnricoMi/publish-unit-test-result-action/linux@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        if: always()
        with:
          junit_files: "**/build/test-results/*/*.xml"
          comment_mode: off
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-results
          path: "**/build/reports/tests/*"
