# v*.*.* tag -> deploy to Maven Central
name: Deploy to Maven Central Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*

jobs:
  deploy-mavencentral:
    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_sonatypeUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME_TOKEN }}
      ORG_GRADLE_PROJECT_sonatypePassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD_TOKEN }}
      SIGNING_PGP_KEY: ${{ secrets.SIGNING_PGP_KEY }}
      SIGNING_PGP_PASSWORD: ${{ secrets.SIGNING_PGP_PASSWORD }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Deploy to Maven Central
        run: |
          ./gradlew publishToSonatype closeAndReleaseSonatypeStagingRepository
